rdkit
numpy
pandas
matplotlib
scikit-learn
tqdm
openpyxl
openai
scipy
pyDOE
jupyterlab
ipywidgets
jupyterlab_widgets
lckr_jupyterlab_variableinspector
torch==2.6.0
pymodbus[serial]
opencv-python
torchvision
